.list__anchor:hover {
  color: #fff;
}

.list__anchor--download {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: white;
  border-radius: 2rem;
  color: #151513;
  gap: 1rem;
  padding: 1rem 2rem;
}

@media (max-width: 425px) {
  .list__anchor--download {
    width: 100%;
    justify-content: center;
  }
}

.list__anchor--download:hover {
  color: #151513;
  background-color: #f5f5f5;
}
