.footer {
  width: 100%;
  margin: 0 auto;
  padding: 10rem 1rem 1rem;
  background: #10100e;
}

@media (max-width: 425px) {
  .footer {
    padding-top: 8rem;
  }
}

.footer__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 2rem;
}

@media (max-width: 760px) {
  .footer__container {
    padding: 1rem;
  }
}

@media (max-width: 425px) {
  .footer__container {
    padding: 0 0 0.5rem;
  }
}

.footer__divider {
  width: 100%;
  height: 2px;
  background: #abb2bf;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.footer__nav--brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

@media (max-width: 425px) {
  .footer__nav {
    flex-direction: column;
    gap: 1rem;
  }
}

.footer__nav-li:hover {
  color: #fff;
}

.footer__nav-ul {
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .footer__nav-ul {
    gap: 1rem;
  }
}

@media (max-width: 425px) {
  .footer__nav-ul {
    width: 100%;
  }
}

.footer__picture {
  max-width: 200px;
}

.footer__thanks {
  text-align: right;
}
